@import 'var'
.info-page
  font-size: 13px
  .main-content
    display: block
    width: 876px
    margin: 0 auto
  .row
    display: flex
  .row table
    box-sizing: border-box
    text-align: left
    border: 1px solid lightgray
    margin-right: 5px
    margin-top: 10px
    &:last-child
      margin-right: 0
    caption
      height: 27px
      line-height: 27px
      color: #fff
      text-align: left
      background-color: lightblue
      padding-left: 14px
    &.loginInfo 
      width: 577px
    &.districtInfo
      width: 292px
    &.basicInfo
      width: 396px
    &.politics
      width: 475px
    &.certificate
      width: 876px
    &.work-info
      width: 876px

    