.main-content table
  width: 100%
  text-align: center
  font-size: 12px
  border-collapse: collapse
  border: 1px solid #ccc
  td
    border: 1px solid #ccc
    max-width: 100px
    padding: 2px 4px
    @extend .overflow
  a
    color: orange
  thead
    color: #003399
    background-color: #eee